.splash {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Убирает скролл, если картинка чуть выходит за границы */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Картинка заполнит весь экран без пустых полей */
  display: block;
}